@font-face {
    font-family: "opendyslexic";
    src: url('fonts/OpenDyslexic-Regular.eot'),
         url('fonts/OpenDyslexic-Regular.woff2') format('woff2'),
         url('fonts/OpenDyslexic-Regular.woff') format('woff');
         
  }
body {
    min-height: 100vh;
    font-family: 'opendyslexic', monospace, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #696969;
    margin: 0;
    padding: 0;
}

.email {
  color: #ff29b8;
  background-color: #0a0a0a;
}
.enby-gradient {
	background-image: linear-gradient(to left, #fdf12d 25%, #fdfdfd 25% 45%, #9b57cf 50% 75%, #444 75% 100%) !important;
}

.trans-gradient {
	background-image: linear-gradient(to left, #32bcf6 20%, #f7b0c4 20% 40%, #fff 40% 60%, #f7b0c4 60% 80%, #32bcf6 80% 100%) !important;
}

.colonthree span + span {
  margin-left: 30px;
}

.colonthree {
  font-size: 30px;
  margin-left: 30px;
  color: #ff29b8;
}
img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    image-rendering: -webkit-optimize-contrast;
}
.webbutton img {
    width: 88px;
    height: 31px;
    image-rendering: pixelated;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .webbutton img:hover {
    transform: scale(2.3)
  }